@import '../../variables.scss';

.pageFooter {
  background-color: $darkgray;
  color: $white;
  h3 {
    color: $lightblue;
    font-family: $roboto;
    font-size: 3rem;
    font-weight: light;
  }
  img {
    width: 100%;
  }
  > div {
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr 1fr;
    @media (width <= $mobile) {
      grid-template-columns: 1fr;
    }
  }
}
