//colors
$white: #ffffff;
$darkgray: #333333;
$lightgray: #cccccc;
$accent: #e9e9e9;
$blue: #0066cc;
$navhover: #3399ff;
$lightblue: #6699cc;
//fonts
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;

//layout
$contentWidth: clamp(10ch, 1000px, 90vw);

//breakpoints
$mobile: 580px;
$tablet: 768px;
